.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav_list li {
  font-size: 18px;
  font-weight: 300;
}

.nav_list a {
  text-decoration: none;
}
