.container {
  /* width: 80%;
  max-width: 55rem;
  margin: 0 auto; */
  /* padding: 0 5rem; */
  position: sticky;
  top: 0;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  /* height: 40px; */
  /* flex */
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.icon {
  font-size: 20px;
  color: #444;
  cursor: pointer;
}

.nav_items {
  flex: 6;
}

.extra_info {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.search_icon {
  font-size: 18px;
  color: #444;
  cursor: pointer;
}
